In [1]:
from stispixeldb import pixeldb,utils
import pandas as pd
import datetime

# The HST/STIS Pixel Property Database User's Guide

Created by Eddie Woods, Colton Parker, and Doug Branton

## Table of Contents:
* [Introduction](#intro)
* [The HST/STIS CCD Pixel Property Database](#db)
* [Python Query Interface](#python)

## Introduction <a class="anchor" id="intro"></a>

The Space Telescope Science Institute (STScI) in Baltimore, MD is operated by the
Association of Universities for Research in Astronomy (AURA), and partners with NASA on a
number of astronomical missions. Most notably, STScI handles the scientific operations of the
Hubble Space Telescope (HST), and also handles the science and mission operations for the
upcoming James Webb Space Telescope (JWST).

<img src="plots/stsci-logo-dark.png" width=300 height=300 />

The Space Telescope Imaging Spectrograph (STIS) is a scientific instrument installed on HST. STIS is a versatile instrument with three unique detectors
that allow for observation along visible to far ultraviolet wavelengths. One such detector is the
STIS Charge Coupled Device (CCD). The CCD is a detector similar to a commercial camera,
where a detector plane is composed of thousands of small buckets called pixels which capture
incoming light and read in as an electrical signal to be read out and displayed in an accurate
representation of the observed scene. Below is an image of Jupiters aurora captured by STIS:

<img src="plots/jupiter_aurora.gif" width=500 height=500 />

## The HST/STIS CCD Pixel Property Database <a class="anchor" id="db"></a>

## Python Query Interface <a class="anchor" id="python"></a>

To install, run `python setup.py install` at the top level directory. This will allow the above import statement to work. Alternatively, can run `python setup.py develop` to have it track any code changes without needing to reinstall (this will require a re-import to take effect).

In [5]:
#Create a connection object
pixdb = pixeldb.PixelDB(host="localhost",user='root',password='',database='anneals_pixels')

In [6]:
#Explore Available Database Tables
result = pixdb.custom_query("SHOW TABLES") #custom querying
result

                   0
0      ANNEAL_PERIOD
1              DARKS
2           DETECTOR
3  HAS_PROPERTIES_IN
4         INSTRUMENT
5              PIXEL

### Inserting Data

In [4]:
#Loads the initial map of pixel positions on the detector, only needs to be done once
#This looks for a file called `pixel_map.csv`, it will need to be generated using the `create_pix_csv.py` file
pixdb.load_pixel_mapping()

In [5]:
#Insert an anneal into the database, populates the HAS_PROPERTIES_IN, ANNEAL_PERIOD, and DARKS tables.
pixdb.insert_anneal(200,'example_input\\')

[]
Starting First Half Insertion
Starting Second Half Insertion

### Querying the Database

In [4]:
#Querying for Pixel Properties

#Store results in dataframe with resulting rows

#Based on anneal number
result = pixdb.query_pixel(pixel_row=5,pixel_col=20, anneal_num=200)
print(result)

#Based on input date string
result = pixdb.query_pixel(pixel_row=50,pixel_col=50, date='2017-09-26 13:04:04')
result

   AnnealNumber  RowNum  ColumnNum Stability Sci_Mean Err_Mean  NaN_Count  \
0           200       5         20   27.7727  31.7564   8.7142          2

  Readnoise
0    6.7804

,AnnealNumber,RowNum,ColumnNum,Stability,Sci_Mean,Err_Mean,NaN_Count,Readnoise
0,200,50,50,1.9933,482.4206,24.3288,1,10.3887

In [3]:
result = pixdb.query_anneal(date='2017-09-26 13:04:04')
result

   AnnealNumber   StartDate     EndDate  NumberOfDarks
0           200  2017-09-26  2017-10-25             58

In [4]:
pixdb.query_anneal_darks(anneal_num=200)

        Darks  AnnealNumber
0   odbridnaq           200
1   odbriengq           200
2   odbrifovq           200
3   odbrigozq           200
4   odbrihrrq           200
5   odbriisaq           200
6   odbrijxcq           200
7   odbrikxgq           200
8   odbrilb7q           200
9   odbrimbbq           200
10  odbrina1q           200
11  odbrioaeq           200
12  odbripijq           200
13  odbriqioq           200
14  odbriropq           200
15  odbrisoxq           200
16  odbritu3q           200
17  odbriuuaq           200
18  odbriva8q           200
19  odbriwamq           200
20  odbrixgnq           200
21  odbriygxq           200
22  odbrizn6q           200
23  odbrj0nmq           200
24  odbrj1dcq           200
25  odbrj2dnq           200
26  odbrj3glq           200
27  odbrj4gpq           200
28  odbrj5pfq           200
29  odbrj6plq           200
30  odbrj7ufq           200
31  odbrj8uzq           200
32  odbrj9ziq           200
33  odbrjazmq           200
34  odbrjbgnq           200
35  odbrjcgsq           200
36  odbrjdkhq           200
37  odbrjekrq           200
38  odbrjfaaq           200
39  odbrjgagq           200
40  odbrjhf5q           200
41  odbrjifrq           200
42  odbrjjkdq           200
43  odbrjkklq           200
44  odbrjltkq           200
45  odbrjmtpq           200
46  odbrjnxzq           200
47  odbrjoz0q           200
48  odbrjpc7q           200
49  odbrjqcbq           200
50  odbrjrfvq           200
51  odbrjsg1q           200
52  odbrjta4q           200
53  odbrjuaeq           200
54  odbrjvfyq           200
55  odbrjwg3q           200
56  odbrjxifq           200
57  odbrjyivq           200